.channel-header {
  .channel-name {
    color: white;
  }

  .channel-prefix {
    color: #AAABAE
  }
}

.channel-header {
  background: #36393f;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  border-bottom: 1px solid hsla(0,0%,100%,.04);
}
