{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-flow",
    ["@babel/preset-env", {
      "targets": {
        node: "10.13.0"
      }
    }]
  ],
  "plugins": ["transform-node-env-inline"]
}
