.channel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EEE;
}

.channel-header .channel-name {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  font-weight: bold;
  color: #383c4a;
}

.channel-header .channel-people-count {
  font-size: 0.8rem;
  letter-spacing: 0.4px;
  color: #7c818c;
}

.channel-header .icon-btn {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  width: 24px;
}
