.compose-message {
  width: 100%;
  height: 4rem;
}

.compose-message .from {
  line-height: 4rem;
}

.compose-message input[type='text'] {
  background: none;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding-right: 1rem;
  font-size: 0.8rem;
}

.compose-message input[type='submit'] {
  display: none;
}

.compose-message .suggestions-list {
  position: absolute;
  bottom: 100%;
}
.compose-message .suggestions-list li {
  cursor: default;
}
.compose-message .suggestions-list li.selected {
  font-weight: bold;
}
