.connection-view {
  height: 100vh;
  margin-left: 60px;
}

.connection-creator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 220px;
  margin: 0 auto;
}
