.header {
  height: 4rem;
  padding: 0 1rem;
  cursor: default;
  padding-top: 2px;
}

.header .vertical-center {
  line-height: 4rem;
}

.below-header {
  position: relative;
  height: calc(100% - 4rem);
}

.connection-header .server {
  font-size: 1rem;
}
