* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

/* make things more app-y */
html,
body,
#main,
.irc,
.message-center,
.left-panel,
.right-panel {
  height: 100%;
}

.connection-creator {
  position: relative;
  width: 220px;
  margin: 0 auto;
}

.input-group {
  margin: 1.4rem 0;
}

.input-group label {
  display: block;
  margin: 0.3rem;
  font-size: 0.9rem;
  line-height: 1.2;
}

.input-group input,
.input-group select {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-radius: 0;
  -webkit-appearance: none;

  border-bottom: 1px solid #CCC;
  padding: 0.3rem;
  font-size: 1.0rem;
}

.input-group input[type="submit"] {
  outline: none;
  background: none;
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 0.5rem 1.0rem;
  font-size: 0.9rem;
  color: #333;
  cursor: default;
}

.input-group input:focus,
.input-group select:focus,
.input-group input[type="submit"]:hover {
  border-color: rgb(216, 197, 255);
}

.left-panel {
  position: relative;
  width: 220px;
  float: left;
}

.right-panel {
  position: relative;
  width: calc(100% - 220px);
  margin-left: 220px;
}

.above-bottom-panel {
  position: relative;
  height: calc(100% - 4.0rem);
  margin-bottom: 4.0rem;
}

.absolute-bottom-panel {
  position: absolute;
  display: table;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.0rem;
  width: 100%;
}

.scrolling-panel {
  height: 100%;
  overflow: auto;
}

.compose-message {
  width: 100%;
  height: 4.0rem;
}

.compose-message .from {
  line-height: 4.0rem;
}

.compose-message input[type="text"] {
  background: none;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding-right:1.0rem;
  font-size: 0.8rem;
}

.compose-message input[type="submit"] {
  display: none;
}

.join-channel ::-webkit-input-placeholder {
  letter-spacing: 0;
}

.join-channel input[type="text"] {
  border: none;
  outline: none;
  font-size: 0.75rem;
  color: #333;
  width: calc(100% - 30px);
}

.join-channel input[type="submit"] {
  background: none;
  border: none;
  outline: none;
  font-size: 1.0rem;
  font-weight: bold;
  color: rgb(170, 154, 205);
}

.header {
  height: 3.0rem;
  padding: 0 1.0rem;
  border-bottom: 1px solid #EEE;
  cursor: default;
}

.header .vertical-center {
  line-height: 3.0rem;
}

.below-header {
  position: relative;
  height: calc(100% - 3.0rem);
}

.channel-header {
}

.channel-header .channel-name {
  display: inline-block;
  font-size: 0.9rem;
  letter-spacing: 0.6px;
}

.channel-header .channel-people-count {
  float: right;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(170, 154, 205);
  letter-spacing: 0.4px;
}

.connection-header .server {
  font-size: 0.8rem;
}

.channel-list {
  font-size: 0.8rem;
  cursor: default;
  -webkit-user-select: none;
}

.channel-list-item {
  height: 2.0rem;
  line-height: 2.0rem;
  letter-spacing: 0.6px;
  color: #777;
  padding: 0 1.0rem;
  border-left: 0px solid rgb(216, 197, 255);
  transition: border-width 100ms ease-in-out;
}

.channel-list-item.is-selected {
  border-width: 6px;
  color: #333;
}

.message-list {
  display: table;
  width: 100%;
  max-width: 100%;
  border-spacing: 0 6px;
}

.message {
  display: table-row;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 0.9rem;
}

.message .from {
  display: table-cell;
  vertical-align: top;
  font-size: 0.8rem;
  text-align: right;
  width: 120px;
  max-width: 120px;
  padding-right: 12px;
  color: rgb(170, 154, 205);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-list .message .from {
  padding-top: 2px; /* aligns text with .body, since smaller font-size */
}

.message .body {
  display: table-cell;
  vertical-align: top;
  line-height: 1.3;
  padding-right: 12px;
}

.message .when {
  display: table-cell;
  vertical-align: top;
  line-height: 1.3;
  color: #CCC;
  width: 56px;
  font-size: 0.7rem;
  padding-top: 3px;
}

.message .command {
  margin-right: 6px;
  color: white;
  background-color: #DDD;
  font-size: 0.7rem;
  padding: 0.15rem 0.4rem;
  border-radius: 4px;
  text-shadow: 0 1px 1px #CCC;
}

.message.nick .text,
.message.away .text,
.message.quit .text {
  color: #BBB;
}
