* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: #383c4a;
}

/* make things more app-y */
html,
body,
#main,
.irc,
.message-center,
.left-panel,
.right-panel {
  height: 100%;
}

.connection-creator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 220px;
  margin: 0 auto;
}

.input-group + .input-group {
  margin-top: 1.4rem;
}

.input-group label {
  display: block;
  margin: 0.3rem;
  font-size: 0.9rem;
  line-height: 1.2;
}

.input-group input,
.input-group select {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-radius: 0;
  -webkit-appearance: none;

  border-bottom: 1px solid #CCC;
  padding: 0.3rem;
  font-size: 1.0rem;
}

.input-group input[type="submit"] {
  outline: none;
  background: none;
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 0.5rem 1.0rem;
  font-size: 0.9rem;
  color: #333;
  cursor: default;
}

.input-group input[type="submit"]:disabled {
  opacity: 0.4;
}

.input-group input:focus,
.input-group select:focus,
.input-group input[type="submit"]:hover {
  border-color: #5294e2;
}

.left-panel {
  position: relative;
  width: 220px;
  float: left;
  background: #373D48;
  color: #FFF;
}

.right-panel {
  position: relative;
  width: calc(100% - 220px);
  margin-left: 220px;
}

.above-bottom-panel {
  position: relative;
  height: calc(100% - 4.0rem);
  margin-bottom: 4.0rem;
}

.absolute-bottom-panel {
  position: absolute;
  display: table;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.0rem;
  width: 100%;
  padding: 0 1.0rem;
}

.scrolling-panel {
  height: 100%;
  overflow: auto;
}

.compose-message {
  width: 100%;
  height: 4.0rem;
}

.compose-message .from {
  line-height: 4.0rem;
}

.compose-message input[type="text"] {
  background: none;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding-right:1.0rem;
  font-size: 0.8rem;
}

.compose-message input[type="submit"] {
  display: none;
}

.join-channel ::-webkit-input-placeholder {
  letter-spacing: 0;
}

.join-channel input[type="text"] {
  border: none;
  outline: none;
  font-size: 0.75rem;
  color: inherit;
  width: calc(100% - 30px);
  background: inherit;
}

.join-channel input[type="submit"] {
  background: none;
  border: none;
  outline: none;
  font-size: 1.0rem;
  font-weight: bold;
  color: #5294e2;
}

.header {
  height: 4.0rem;
  padding: 0 1.0rem;
  cursor: default;
  padding-top: 2px;
}

.header .vertical-center {
  line-height: 4.0rem;
}

.below-header {
  position: relative;
  height: calc(100% - 4.0rem);
}

.channel-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #EEE;
}

.channel-header .channel-name {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  font-weight: bold;
  color: #383c4a;
}

.channel-header .channel-people-count {
  font-size: 0.8rem;
  letter-spacing: 0.4px;
  color: #7c818c;
  margin-top: 6px;
}

.people-list {
  position: absolute;
  top: 4.0rem;
  right: 0;
  height: 100%;
  width: 220px;
  background-color: #FFF;
  border-left: 1px solid #EEE;
}

.people-list .scrolling-panel {
  padding: 0.8rem;
}

.people-list .nickname {
  font-size: 14px;
  line-height: 1.75;
}

.people-search-field {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 14px;
  line-height: 1.8;
  padding: 0 8px;
  border-radius: 6px;
  border: 1px solid #cccfd6;
}

.connection-header .server {
  font-size: 1rem;
}

.channel-list-heading {
  text-transform: uppercase;
  color: #7c818c;
  margin: 1.0rem 1.0rem 0.8rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: default;
}

.channel-list {
  font-size: 0.8rem;
  cursor: default;
  -webkit-user-select: none;
}

.channel-list-item {
  height: 2.0rem;
  line-height: 2.0rem;
  letter-spacing: 0.4px;
  color: #FFF;
  padding: 0 1.0rem;
  transition: border-width 100ms ease-in-out;
}

.channel-list-item.is-selected {
  background: #5294E2;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
  font-weight: 200;
}

.channel-list-item .channel-name.has-unread {
  font-weight: bold;
}

.channel-name .channel-prefix {
  color: #afb1b5;
  margin-right: 3px;
  letter-spacing: 0;
}

.channel-list-item .unread-count {
  float: right;
  background: #5294e2;
  border-radius: 16px;
  padding: 0 8px;
  margin: 5px 0;
  line-height: 1.7;
}

.nickname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

.message-list {
  display: table;
  width: 100%;
  max-width: 100%;
  border-spacing: 0 6px;
  padding: 0 1.0rem;
}

.message {
  display: table-row;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 0.9rem;
}

.message .from {
  display: table-cell;
  vertical-align: top;
  text-align: right;
  width: 120px;
  max-width: 120px;
  padding-right: 12px;
  font-weight: bold;
  color: #444;
}

.message-list .message .from {
  padding-top: 4px; /* aligns text with .body, since smaller font-size */
}

.message .body {
  display: table-cell;
  vertical-align: top;
  line-height: 1.3;
  padding-right: 12px;
}

.message .when {
  display: table-cell;
  vertical-align: top;
  line-height: 1.3;
  color: #7c818c;
  width: 56px;
  font-size: 0.7rem;
  padding-top: 3px;
  text-align: right;
}

.message .command {
  margin-right: 6px;
  border: 1px solid #eaeaea;
  font-size: 0.7rem;
  padding: 0.15rem 0.4rem;
  border-radius: 4px;
  letter-spacing: 0.5px;
}

.message.error .command {
  background-color: #EDA5A5;
  text-shadow: 0 0px 1px #C87F7F;
}

.message .text a {
  text-decoration: none;
  color: #5294e2;
}

.message.nick .text,
.message.away .text,
.message.quit .text,
.message.error .text {
  color: #BBB;
}
